* {
    box-sizing:border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

/* body {
    margin:0;
} */

body {
    background-color: rgb(208, 244, 244);
}



#buttons {
    display:flex;
    flex-wrap:wrap;
    width:300px;
}

#display {
    width:300px;
}

button {
    width:23%;
    margin:1%;
}

.container {
    margin-left:400px;
    margin-right:400px;
    margin-top:100px;
    /* background-color: rgb(95, 95, 188); */
    background: rgb(194,69,29);
    background: linear-gradient(90deg, rgba(194,69,29,1) 0%, rgba(218,218,255,1) 22%, rgba(123,255,0,1) 87%);
    padding-bottom:40px;
    padding-left:40px;
    padding-right:40px;
    padding-top:40px;
    border-radius:15px;
    box-shadow: 0 4px 2px black;
}

input {
    border-radius:5px;
    border:2px solid yellow;
    padding-top:15px;
    padding-bottom:15px;
}

button {
    padding:10px;
    border-radius: 30%;
    cursor:pointer;
    background-color: rgb(242, 242, 202);
    box-shadow:1px 2px 3px green;
    font-weight:bold;
}

button:hover {
    background-color: rgb(122, 206, 122);
    transform:translateY(45deg);
    transition:all;
    color:white;
}

#grow-zero{
    flex-grow:10;
}

.btn-color {
    color: rgb(0, 98, 128);
}